.cartBorder{
   position: sticky;
   top: 105px;
}
.border img{
   width: 100%;
}
.cart{
   padding:0 15px;
}
.cart-header{
   text-align: center;
}
.btnClearCart{
   width: 100%;
   padding: 10px 0;
   border: 0;
   border-radius: 5px;
   background-color: red;
   color: white;
   font-size: 17px;
   font-weight: bold;
   margin-bottom: 10px;
   cursor: pointer;
}
.btnReviewOrders{
   width: 100%;
   padding: 10px 0;
   border: 0;
   border-radius: 5px;
   background-color: orange;
   color: white;
   font-size: 17px;
   font-weight: bold;
   margin-bottom: 10px;
   cursor: pointer;
}